body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-clash-display: "Clash Display";
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-dm-sans: "DM Sans";
  --font-nunito-sans: "Nunito Sans";

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-13xl: 2rem;
  --font-size-8xs-2: 0.263rem;
  --font-size-9xl: 1.75rem;
  --font-size-lg: 1.125rem;
  --font-size-29xl: 3rem;
  --font-size-xl: 1.25rem;
  --font-size-xs-8: 0.738rem;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-tomato: #ff5555;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-5xs: 8px;

  /* Effects */
  --s: -13px 13px 104.09px rgba(161, 161, 161, 0.1);
}
